---
import Ring from "./Ring";
---

<section class="lg:py-[80px] py-[40px]">
  <div class="max-w-screen-2xl lg:px-[80px] px-[24px] mx-auto">
    <h1
      class="md:text-[80px] text-center text-[48px] leading-[52px] text-textPrimary font-black md:leading-[84px] font-ppradio mb-[16px]"
    >
      Ring inspiration
    </h1>
    <p
      class="md:text-xl text-[16px] text-center leading-[20px] md:leading-[24px] text-textSecondary font-figtree mb-[48px]"
    >
      From timeless classics to modern designs — explore what’s possible.
    </p>
    <Ring client:load />
  </div>
</section>
