---
import { Image } from "astro:assets";
import btnIcon from "../../assets/icons/btn-icon.svg";
---

<section class="lg:py-[112px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div
      class="text-center bg-cardColor rounded-[48px] lg:px-[150px] lg:py-[88px] py-[48px] px-[24px]"
    >
      <h3
        class="lg:text-[52px] text-center mb-[24px] text-[32px] md:text-[28px] leading-[36px] lg:leading-[56px] font-black text-textPrimary font-ppradio"
      >
        Ready to start your journey?
      </h3>
      <p
        class="text-[16px] text-center mb-[48px] md:text-[18px] leading-[20px] lg:leading-[22px] max-w-[880px] mx-auto font-normal text-textPrimary font-figtree"
      >
        Create your style profile and meet our community of jewellers.
      </p>
      <div
        class="flex flex-col md:flex-row md:gap-[16px] gap-[8px] items-center justify-center w-full"
      >
        <button
          type="button"
          class="cursor-pointer bg-btnPrimary text-white text-base leading-5 py-2 min-h-[56px] w-full md:w-[auto] md:min-w-[200px] px-6 rounded-full font-figtree font-medium flex items-center justify-center gap-3"
        >
          Get Started for Free
        </button>

        <button
          type="button"
          class="cursor-pointer bg-transparent border border-borderOutline text-textPrimary text-base leading-5 py-2 min-h-[56px] md:w-[auto] w-full md:min-w-[200px] text-center px-6 rounded-full font-figtree font-medium"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</section>
