---
import { Image } from "astro:assets";
import about1 from "../../assets/icons/about-1.svg";
import about2 from "../../assets/icons/about-2.svg";
import about3 from "../../assets/icons/about-3.svg";
---

<section class="lg:py-[112px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <!-- Heading -->
    <div class="overflow-hidden">
      <h2
        data-aos="fade-up"
        class="lg:text-[52px] text-[32px] lg:leading-[56px] leading-[36px] font-black text-center font-ppradio text-textPrimary md:mb-[16px] mb-[20px]"
      >
        Our beliefs
      </h2>
    </div>

    <!-- Cards -->
    <div
      class="grid md:grid-cols-3 lg:gap-[40px] gap-[20px] lg:mt-[80px] mt-[24px]"
    >
      <!-- Card 1 -->
      <div class="bg-cardColor rounded-[40px] p-[24px]">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] rounded-[20px] mb-[24px]"
        >
          <Image src={about1} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-[32px] text-[22px] lg:leading-[36px] leading-[26px] font-black mb-[12px] text-textPrimary font-ppradio"
        >
          Craftsmanship over commerce
        </h3>
        <p
          class="lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary font-figtree"
        >
          We believe a ring's value comes from the skill of the hands that made
          it, not the size of the brand that sells it. We champion independent
          makers and their dedication to quality.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="bg-cardColor rounded-[40px] p-[24px]">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] rounded-[20px] mb-[24px]"
        >
          <Image src={about2} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-[32px] text-[22px] lg:leading-[36px] leading-[26px] font-black mb-[12px] text-textPrimary font-ppradio"
        >
          Transparency is non-negotiable
        </h3>
        <p
          class="lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary font-figtree"
        >
          The bespoke process shouldn't be a mystery. We believe in clear
          pricing, honest timelines, and giving you the information you need to
          feel confident and in control.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="bg-cardColor rounded-[40px] p-[24px]">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] rounded-[20px] mb-[24px]"
        >
          <Image src={about3} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-[32px] text-[22px] lg:leading-[36px] leading-[26px] font-black mb-[12px] text-textPrimary font-ppradio"
        >
          A personal ring deserves a personal connection
        </h3>
        <p
          class="lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary font-figtree"
        >
          We believe the best results come from collaboration. Our goal is to
          introduce you to a creative partner who will listen to your story and
          help you bring your vision to life.
        </p>
      </div>
    </div>
  </div>
</section>
