---
import { Image } from "astro:assets";
import btnIcon from "../../assets/icons/btn-icon.svg";
---

<section class="lg:py-[112px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid md:grid-cols-2 md:gap-[82px] gap-[24px] items-start">
      <div class="flex flex-col justify-between h-full">
        <h2
          class="lg:text-[52px] text-center md:text-start text-[32px] font-black font-ppradio text-textPrimary lg:mb-4 lg:leading-[56px] leading-[36px]"
        >
          Smart technology, <br />
          human connection
        </h2>

        <div class="md:block hidden">
          <button
            type="button"
            class="cursor-pointer bg-btnPrimary text-white text-base leading-5 py-2 mx-auto md:ml-0 min-h-[56px] min-w-[130px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
          >
            Learn more
          </button>
        </div>
      </div>

      <div class="flex flex-col">
        <div
          class="rounded-[24px] p-[2px] pt-[8px] bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] hover:p-[3px] hover:pt-[10px] hover:scale-x-[101%] transition-all duration-300 overflow-hidden"
        >
          <div class="py-[24px] px-[16px] rounded-[24px] bg-white">
            <p
              class="font-figtree font-normal lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary lg:pr-14"
            >
              Finding the right jeweller shouldn't be left to chance. Behind our
              simple interface is a powerful platform designed to understand
              your unique style. We analyse your visual preferences to make
              intelligent, data-driven recommendations.
            </p>
          </div>
        </div>

        <div
          class="rounded-[24px] p-[2px] pt-[8px] bg-[linear-gradient(72.92deg,#F8BEA5_29.07%,#F8D2A5_78.07%)] hover:p-[3px] hover:pt-[10px] hover:scale-x-[101%] transition-all duration-300 overflow-hidden z-10 mt-[-10px]"
        >
          <div class="py-[24px] px-[16px] rounded-[24px] bg-white">
            <p
              class="font-figtree font-normal lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary"
            >
              This blend of art and science is our secret to taking the
              guesswork out of the bespoke process, ensuring a better match and
              a more personal result.
            </p>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="bg-btnPrimary md:hidden btn-after text-white text-base leading-5 py-2 mx-auto md:ml-0 w-full min-h-[56px] justify-center px-6 rounded-full font-figtree font-medium flex items-center gap-3"
      >
        Learn More
      </button>
    </div>
  </div>
</section>
