---
import RingStyleAnalyzer from "./Chart.jsx";
---

<section class="md:py-[112px] pt-[36px] pb-24px">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid xl:grid-cols-2 lg:gap-20 gap-[60px] items-center">
      <div class="text-center md:text-start">
        <div
          class="md:text-[16px] text-[10px] font-medium md:leading-[20px] leading-[14px] text-textPrimary bg-cardColor md:py-[8px] py-[5px] md:px-[16px] px-[12px] font-figtree rounded-[40px] inline"
        >
          OUR TECHNOLOGY
        </div>
        <h1
          class="md:text-[80px] text-[48px] md:mt-[48px] mt-[32px] text-center md:text-start leading-[42px] text-textPrimary font-black md:leading-[84px] font-ppradio md:mb-6 mb-[16px]"
        >
          Boutee can see a ring’s style
        </h1>

        <p
          class="md:text-xl text-[16px] mt-[10px] md:mt-0 text-center md:text-start leading-[20px] md:leading-[24px] text-textSecondary font-figtree"
        >
          Select a ring to see its unique Style DNA come to life
        </p>
      </div>

      <div class="flex justify-center xl:justify-end">
        <RingStyleAnalyzer client:load />
      </div>
    </div>
  </div>
</section>
