---
import PerfectMatchChart from "./PerfectMatchChart";
---

<section class="lg:py-[112px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="flex flex-col gap-5 lg:gap-4 overflow-hidden">
      <h1
        data-aos="fade-up"
        class="font-ppradio font-black text-[32px] leading-9 lg:text-[52px] lg:leading-14 text-textPrimary text-center"
      >
        It all leads to the perfect match
      </h1>
      <p
        class="font-figtree md:max-w-[768px] mx-auto font-normal text-[20px] leading-[24px] text-textSecondary text-center"
      >
        A great match is about more than just a single style. Our platform
        combines your nuanced Style Profile with your practical preferences—like
        budget and location—to recommend the best possible creative partners for
        you. See it in action by selecting a persona.
      </p>
    </div>

    <div>
      <PerfectMatchChart client:load />
    </div>
  </div>
</section>
