---
import { Image } from "astro:assets";
import btnIcon from "../../assets/icons/btn-icon.svg";
---

<section class="lg:py-[112px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid md:grid-cols-2 md:gap-[80px] items-start">
      <div>
        <h2
          class="lg:text-[52px] font-ppradio text-[32px] lg:leading-[56px] leading-[36px] lg:font-black font-normal text-center md:text-start md:mb-[40px] mb-[24px]"
        >
          The Jeweller Process
        </h2>
        <div class="hidden md:block">
          <button
            type="button"
            class="spinBtn cursor-pointer bg-btnPrimary relative text-white text-base leading-5 py-2 mx-auto md:ml-0 md:min-h-[56px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
          >
            <Image src={btnIcon} class="btnIcon w-5 h-5" alt="image" />
            Find Your Jeweller
          </button>
        </div>
      </div>

      <div class="space-y-[16px]">
        <div class="flex gap-[40px]">
          <div class="flex flex-col gap-[16px] items-center">
            <div
              class="bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] font-figtree text-textPrimary lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] font-bold lg:w-[40px] w-[38px] lg:h-[40px] h-[38px] rounded-full flex items-center justify-center"
            >
              1
            </div>
            <div
              class="w-[1px] lg:min-h-[68px] min-h-[92px] flex-1 overflow-hidden"
              data-aos="line-animate"
            >
              <div class="line-fill w-full h-0 bg-textPrimary"></div>
            </div>
          </div>
          <div>
            <h3
              class="font-bold lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] text-black font-figtree"
            >
              The Consultation
            </h3>
            <p
              class="font-figtree lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textSecondary lg:mt-[16px] mt-[12px]"
            >
              You’ll have an initial chat with your jeweller (online or in
              person) to discuss your ideas, timeline, and budget in more
              detail.
            </p>
          </div>
        </div>

        <div class="flex gap-[40px]">
          <div class="flex flex-col gap-[16px] items-center">
            <div
              class="bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] font-figtree text-textPrimary lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] font-bold lg:w-[40px] w-[38px] lg:h-[40px] h-[38px] rounded-full flex items-center justify-center"
            >
              2
            </div>
            <div
              class="w-[1px] lg:min-h-[68px] min-h-[92px] flex-1 overflow-hidden"
              data-aos="line-animate"
            >
              <div class="line-fill w-full h-0 bg-textPrimary"></div>
            </div>
          </div>
          <div>
            <h3
              class="font-bold lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] text-black font-figtree"
            >
              Design & Sourcing
            </h3>
            <p
              class="font-figtree lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textSecondary lg:mt-[16px] mt-[12px]"
            >
              Your jeweller will create initial design sketches and source a
              selection of gemstones for you to choose from. You'll work
              together to refine the design until it's perfect.
            </p>
          </div>
        </div>

        <div class="flex gap-[40px]">
          <div class="flex flex-col gap-[16px] items-center">
            <div
              class="bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] font-figtree text-textPrimary lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] font-bold lg:w-[40px] w-[38px] lg:h-[40px] h-[38px] rounded-full flex items-center justify-center"
            >
              3
            </div>
            <div
              class="w-[1px] lg:min-h-[68px] min-h-[92px] flex-1 overflow-hidden"
              data-aos="line-animate"
            >
              <div class="line-fill w-full h-0 bg-textPrimary"></div>
            </div>
          </div>
          <div>
            <h3
              class="font-bold lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] text-black font-figtree"
            >
              Creation & Hallmarking
            </h3>
            <p
              class="font-figtree lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textSecondary lg:mt-[16px] mt-[12px]"
            >
              Once you approve the final design, your jeweller will get to work
              handcrafting your ring. It will then be sent to the Assay Office
              to be hallmarked, certifying its quality.
            </p>
          </div>
        </div>

        <div class="flex gap-[40px]">
          <div class="flex flex-col gap-[16px] items-center">
            <div
              class="bg-[linear-gradient(76deg,#B9F551_22.87%,#D7F650_74.01%)] font-figtree text-textPrimary lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] font-bold lg:w-[40px] w-[38px] lg:h-[40px] h-[38px] rounded-full flex items-center justify-center"
            >
              4
            </div>
          </div>
          <div>
            <h3
              class="font-bold lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] text-black font-figtree"
            >
              The Final Ring
            </h3>
            <p
              class="font-figtree lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textSecondary lg:mt-[16px] mt-[12px]"
            >
              Your finished ring is ready! It will be delivered to you, ready
              for your special moment.
            </p>
          </div>
        </div>
      </div>

      <div class="md:hidden mt-[44px]">
        <button
          type="button"
          class="spinBtn cursor-pointer bg-btnPrimary relative text-white text-base leading-5 py-2 mx-auto md:ml-0 min-h-[56px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
        >
          <Image src={btnIcon} class="btnIcon w-5 h-5" alt="image" />
          Find Your Jeweller
        </button>
      </div>
    </div>
  </div>
</section>
