---

---

<section class="lg:py-[112px] py-[48px]">
  <div
    class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto"
  >
  <div class="text-center bg-cardColor rounded-[48px] lg:px-[200px] lg:py-[88px] py-[48px] px-[24px] ">
      <h3
      class="lg:text-[52px] text-center mb-[24px] text-[32px] md:text-[28px] leading-[36px] lg:leading-[56px] lg:font-black font-normal text-textPrimary font-ppradio"
    >
      Ready to find your perfect jeweller?
    </h3>
    <p
      class="lg:text-[18px] text-center mb-[48px] text-[16px] md:text-[18px] leading-[20px] lg:leading-[22px] max-w-[880px] mx-auto font-normal text-textPrimary font-figtree"
    >
      Create your free style profile to explore our full community, get
      personalised matches based on your unique taste, and start a conversation
      with the right jeweller for you.
    </p>
    <button
      type="button"
      class="cursor-pointer bg-btnPrimary btn-after text-white text-base leading-5 py-2 md:ml-0 min-h-[56px] min-w-[194px] px-6 rounded-full font-figtree font-medium btn-cta"
    >
      Get Started for Free
    </button>
  </div>
  </div>
</section>
