---
import TestimonialCarousel from "../common/TestimonialCarousel";

const items = [
  { 
    id: 1,   
    review: "I can’t say enough great things about Boutee. I loved the suggestions they provided and was quickly able to connect with an incredible jeweller. Some of the best customer service I’ve ever received, I’d recommend them to absolutely anyone and everyone.", 
    name: "Izzy Russo",
    location: "Matched with Kintaa"
  },
  { 
    id: 2,   
    review: "My experience with Boutee has been exceptional. I stumbled across Boutee online after disappointing search for my dream engagement ring with many larger companies. Boutee offers that personalised experience... Thank you for your attention to detail and outstanding customer service!", 
    name: "Stephanie",
    location: "Matched with The Lane"
  },
  { 
    
    id: 3,   
    review: "Fantastic way to find bespoke, custom-made rings from independent designers who love what they do. If you're looking for a personal, affordable option for either designing or buying a ring, this is the place.", 
    name: "Luke",
    location: "Matched with Jodie Gearing"
  },
  { 
    id: 4,   
    review: "Fantastic way to find bespoke, custom-made rings from independent designers who love what they do. If you're looking for a personal, affordable option for either designing or buying a ring, this is the place.", 
    name: "Luke",
    location: "Matched with Jodie Gearing"
  },
];
---

<section class="lg:pt-[112px] lg:pb-[80px] py-[40px]">
 <div class="max-w-screen-2xl lg:px-[65px] px-[24px] mx-auto overflow-hidden">
     <h2 data-aos="fade-up" class="lg:text-[52px] text-[32px] lg:leading-[56px] leading-[36px] font-black text-textPrimary font-ppradio text-center">Stories behind the rings</h2>
  <p class="lg:text-[20px] hidden md:block text-[16px] lg:leading-[24px] leading-[20px] text-textSecondary font-figtree text-center mt-[16px]">They dreamed it — our jewellers designed it.</p>
  <TestimonialCarousel client:load items={items} />
 </div>
</section>