---

---

<section class="lg:py-[80px] py-[48px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="lg:mb-[80px] mb-[24px]">
      <h2
        class="text-center lg:text-[52px] text-[32px] lg:leading-[56px] leading-[36px] font-black font-ppradio text-textPrimary"
      >
       Terms of Service
      </h2>
      <p
        class="lg:text-[18px] text-[16px] lg:leading-[22px] leading-[20px] text-textSecondary font-figtree text-center mt-[16px]"
      >
       This Terms of Service page was last updated on [date]
      </p>
    </div>

    <div class="grid grid-cols-1 gap-[32px]">
      <div class="flex flex-col justify-start gap-[8px] max-w-[800px] mx-auto">
        <h5
          class="font-ppradio font-bold text-textPrimary text-lg leading-[22px] lg:text-xl lg:leading-6 pb-2"
        >
           General Terms
        </h5>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet.
          Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget
          ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec
          posuere pharetra odio consequat scelerisque et, nunc tortor. Nulla
          adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere
          cursus diam.
        </p>
      </div>
      <div class="flex flex-col justify-start pt-4 gap-1 max-w-[800px] mx-auto">
        <h5
          class="font-ppradio font-bold text-textPrimary text-lg leading-[22px] lg:text-xl lg:leading-6 pb-2"
        >
         User Responsibilities
        </h5>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet.
          Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget
          ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec
          posuere pharetra odio consequat scelerisque et, nunc tortor. Nulla
          adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere
          cursus diam.
        </p>
      </div>

      <div class="flex flex-col justify-start pt-4 gap-1 max-w-[800px] mx-auto">
        <h5
          class="font-ppradio font-bold text-textPrimary text-lg leading-[22px] lg:text-xl lg:leading-6 pb-2"
        >
          Limitations of Liability
        </h5>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
          condimentum mi massa. In tincidunt pharetra consectetur sed duis
          facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
          dictum eget nibh tortor commodo cursus.
        </p>
        <p
          class="font-figtree font-normal text-[14px] leading-[18px] text-textPrimary lg:text-base lg:leading-5"
        >
          Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet.
          Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget
          ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec
          posuere pharetra odio consequat scelerisque et, nunc tortor. Nulla
          adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere
          cursus diam.
        </p>
      </div>
    </div>
  </div>
</section>
